body {
  background-color: #45463e;
  color: #e9f7f8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.name {
  text-align: right;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e9f7f8;
  border-bottom: 1px solid #e9f7f8;
  background-color: rgba(0,0,0, 0.1)
    
}

.exp {
  border-bottom: 1px solid #e9f7f8;
}

.edu {
  border-bottom: 1px solid #e9f7f8;
}
